/* #mainContainer {
  width: 100vw;
  height: 100%;
}

#insertInput {
  width: 40vw;
  font-size: 2vh;
} */

/* html {
  height: -webkit-fill-available;
} */


html {
  overflow-y: hidden;
}

body {
  padding: 0;
  margin: 0;
  position: fixed;
  background-color: #505050;
  /* overflow-y: hidden; */
  overflow-y: hidden;
  min-height: 100vh;
  /* height: 100vh; */
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
}

#mainContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  /* modifica recente ------------------------ */
  place-items: center;
  /* modifica recente ------------------------ */
  /* grid-template-rows: 0.2fr 0.8fr; */
  /* background: linear-gradient(rgb(28, 30, 39), rgb(110, 108, 108)); */
  background: linear-gradient(rgb(228 229 233), rgb(140 139 139));
  overflow: hidden;
  font-family: -apple-system,
    BlinkMacSystemFont, sans-serif;
  /* -ms-overflow-style: none;
  scrollbar-width: none;   */
  /* overflow-y: hidden; */
}

/* #mainContainer::-webkit-scrollbar {
  display: none;
} */

.backgroundImage {
  /* width: auto; */
  /* position: relative; */
  left: -50%;
  /* bottom: 0%; */
}


#inputContainer {
  position: absolute;
  width: 82vw;
  height: auto;
  display: flex;
  place-items: center;
  flex-direction: row;
  /* justify-content: flex-end; */
  background-color: rgba(240, 248, 255, 0.9);
  z-index: 11;
  border: 1px solid transparent;
  border-radius: 18px;
  filter: drop-shadow(1vw 1vw 1vw #232323);
}

#inputContainer>i {
  font-size: 28px;
  color: grey;
  padding-left: 5%;
  padding-right: 1%;
}

#insertInput {
  width: 55vw;
  height: 5vh;
  font-size: 16px;
  padding: 1% 3% 1% 3%;
  border-width: 2.5px;
  border-color: transparent;
  background-color: transparent;
  z-index: 10;

}

#insertInput:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
}

#resultsContainer {
  /* border: 2px solid red; */

  position: absolute;
  /* bottom: -20%; */
  top: 0%;
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: scroll;
  overflow-y:visible;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  z-index: 10;
  /* border: 2px solid green; */
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

#resultsContainer::-webkit-scrollbar {
  display: none;
}

.descriptionBox {
  width: 95vw;
  color: white;
  display: grid;
  place-items: center;
  margin-top: 3vh;
  /* position: absolute;
  bottom: 2%; */
  /* border: 2px solid white; */
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  text-shadow: 3px 2px 3px rgb(15, 15, 15);

}

.descriptionBox>p {
  font-size: 3.4vw;
  /* background: rgb(50, 50, 50, 0.7); */
  /* background: radial-gradient(circle at 140% 22%, black 82%, #626161 100%); */
  background: radial-gradient(circle at 100% 30%, rgb(50, 50, 50, 0.7) 82%, #888686 100%);

  padding: 3vw 5vw 3vw 5vw;
  margin-bottom: 0;
  margin-top: 4vw;


  /* border: 2px solid white; */
  border-left: 2px solid rgb(218, 215, 215);
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 2px solid rgb(218, 215, 215);
  border-radius: 18px;

  line-height: 2.5vh;
  /* aggiungere a tablet e desktop */

}

.dataDisplay {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100%;
  align-content: center;

  /* padding: 2px; */
  transition: all 1s ease-in-out;
  scroll-snap-align: center;
  /* border: 2px solid green; */

  /* border: 1px solid red; */
}

#imgContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  /* max-width: 1000px; */
  height: 100vh;
  /* border: 2vw solid transparent; */
  /* margin: 1%; */
  opacity: 0.9;
  /* border-radius: 5vh; */
  overflow: hidden;
  z-index: 0;


  filter: invert(100%);
  /* filter: grayscale(50%); */
}

/* #imgContainer>img {
  width: 300vw;
  height: auto
} */

#secondImgContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  /* max-width: 1000px; */
  height: 100vh;
  /* border: 2vw solid transparent; */
  /* margin: 1%; */
  opacity: 0.5;
  /* border-radius: 5vh; */
  overflow: hidden;
  z-index: 1;
  /* filter: invert(100%); */
  /* filter: grayscale(50%); */
}

/* #secondImgContainer>img {
  width: 300vw;
  height: auto
} */

/* #secondImgContainer>img {
  width: 100%;
} */

/* #canvas_p5 {
  position: absolute;
  width: 90vw;
  height: 100%;
  z-index: -10;
  border: 2px solid red;
} */

.invibleButtons {
  /* color: white; */
  opacity: 0.0;
  z-index: -100;
}

table {
  /* display: none; */
  /* position: absolute; */
  color: white;
  width: 85vw;
  /* max-width: 500px; */
  padding: 0px;
  border-collapse: separate;
  /* border: 5px solid white; */
  border-radius: 4vh;
  /* border-left: 2px solid rgb(220, 220, 220); */

  border-left: 4px solid rgb(218, 215, 215);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid rgb(218, 215, 215);


  letter-spacing: 1vw;
  line-height: 6vw;
  font-family: sans-serif;
  font-size: 3vw;
  text-align: center;
  /* filter: drop-shadow(1vw 1vw 1vw #232323); */
  z-index: 1000;
  /* filter: drop-shadow(1vw 1vw 1vw #232323); */


  border-spacing: 1px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 1px;


}

h2 {
  /* position: absolute;
  top: 0%; */
  color: white;

  /* display: grid; */
  /* 
  text-align: center;
  place-items: center;
  justify-content: end; */
  width: 85vw;
  font-size: 2.3vh;
  padding: 3vw 0vw 3vw 0vw;
  /* border: 2px solid white; */
  border-left: 3px solid rgb(218, 215, 215);
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 3px solid rgb(218, 215, 215);
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  border-radius: 18px;
  /* justify-content: end; */
  text-align: center;
  text-shadow: 4px 3px 3px rgb(15, 15, 15);
  /* background: rgb(50, 50, 50, 0.7); */
  background: radial-gradient(circle at 100% 30%, rgb(50, 50, 50, 0.7) 82%, #888686 100%);

  /* backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px); */
}

.rank {
  width: 85vw;
  color: white;
  padding: 3vw 0vw 3vw 0vw;
  border-left: 3px solid rgb(218, 215, 215);
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 3px solid rgb(218, 215, 215);
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 18px;
  text-align: center;
  text-shadow: 4px 3px 3px rgb(15, 15, 15);
  background: radial-gradient(circle at 100% 30%, rgb(50, 50, 50, 0.7) 82%, #888686 100%);
}

table>tbody {
  width: auto;
  margin-top: 20px;
  /* background-color: rgb(50, 50, 50, 0.6); */
  /* border: 1px solid red; */
}

table>tbody>tr>th {
  width: 50%;
  /* border: 1px solid transparent; */
  font-weight: 700;
  /* background-color: rgb(50, 50, 50, 0.5); */
  /* border-left: 4px solid rgb(218, 215, 215); */
  padding: 1vw 1vw 1vw 1vw;
  text-align: center;
  text-shadow: 3px 2px 3px rgb(15, 15, 15);
  /* border-radius: 10px; */
  background: radial-gradient(circle at 100% 30%, transparent 82%, #f6f6f667 100%);
}

/* table>tbody>tr>th:first-of-type {
  border-radius: 10px 0px 0px 0px;
} */



table>tbody>tr {
  /* margin-top: 10px; */
  /* background-color: rgb(50, 50, 50, 0.6); */
  background: rgb(50, 50, 50, 0.7);

  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px); */
  /* border-radius: 10px 0px 0px 0px; */
}

/* table>tbody>tr>th:first-child { */
/* margin-top: 10px; */
/* background-color: rgb(50, 50, 50, 0.6); */
/* border-radius: 10px 0px 0px 0px;
} */

table>tbody>tr>td {
  width: 50%;
  /* border: 1px solid rgb(190, 190, 190); */
  /* border: 1px solid transparent; */
  font-weight: 700;
  /* border-right: 4px solid rgb(218, 215, 215); */

  /* padding: 5px 4px 5px 4px; */
  text-align: center;
  text-shadow: 3px 2px 3px rgb(15, 15, 15);
  /* border-radius: 10px; */


}


#canvasImage {
  position: absolute;
  /* filter: url("sobelFilter.svg"); */
  /* width: 100vw; */
  /* opacity: 0.1; */

}

/* #resultsContainer {
  filter: grayscale(90%);
  z-index: 10;
} */

/* canvas {
  opacity: 0.0;
  border-radius: 10px;
} */

.alternatesContainer {
  /* position: fixed; */
  /* position: relative; */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80vw;
  height: 45vh;
  padding: 0;
  margin: 1vw 0vw 5vw 0vw;
  /* border-top: 8px solid rgb(50, 50, 50, 0.6);
  border-left: 8px solid rgb(50, 50, 50, 0.6);
  border-right: 8px solid rgb(50, 50, 50, 0.6);
  border-bottom: 8px solid rgb(50, 50, 50, 0.6); */
  border: 8px solid rgb(100, 100, 100);
  /* border-left: 8px solid rgb(105, 98, 91);
  border-right: 8px solid rgb(105, 98, 91);
  border-bottom: 8px solid rgb(105, 98, 91); */
  border-radius: 18px;
  background: #d4d4d44b;
  /* position: fixed; */
}

.altButtons {
  min-width: 28vw;
  width: fit-content;
  font-size: 16px;
  font-weight: 700;
  color: rgb(83,83,83);
  /* background-color: rgba(240, 248, 255, 0.9); */
  background: radial-gradient(circle at 140% 22%, white 82%, #a8a8a8 100%);
  padding: 4% 8% 4% 8%;
  border: 2px solid rgba(150,150,150, 1.0);
  border-radius: 12px;
  margin: 10% 5% 5% 5%;
  filter: drop-shadow(0vw 0vw 0.5vw rgb(67,65,72));
  /* filter: drop-shadow(1vw 1vw 1vw #232323); */
}

.tempIndication {
  position: fixed;
  top: 20%;
  text-align: center;
  color: white;
  padding: 2vw;
  border: 3px solid rgba(155, 9, 9, 0.7);
  border-radius: 3vw;
  margin-top: 1%;
  margin-bottom: 1%;
  /* margin-left: 20%;
  margin-right: 20%; */
  background: rgb(90,11,11, 0.7);
  text-shadow: 3px 2px 3px rgb(15, 15, 15);
}

.indications {
  width: 73vw;
  text-align: center;
  color: white;
  padding: 2vw;
  border: 3px solid rgba(155, 9, 9, 0.7);
  border-radius: 3vw;
  margin-top: 1%;
  margin-bottom: 1%;
  background: rgb(90, 11, 11, 0.7);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  text-shadow: 3px 2px 3px rgb(15, 15, 15);
  /* filter: drop-shadow(1vw 1vw 1vw #232323); */
}

.saveBtn {
  display: none;
  place-items: center;
  width: 12vw;
  height: 12vw;
  position: fixed;
  bottom: 14px;
  left: 14px;
  background: radial-gradient(circle at 140% 22%, white 82%, #a8a8a8 100%);
  border-radius: 2.5vw;
  /* border: 1px solid transparent;
   */
   padding: 0;
   border: 2px solid rgba(150,150,150, 1.0);
  /* filter: drop-shadow(1vw 1vw 1vw #232323); */
  filter: drop-shadow(1vw 1vw 2.5vw rgb(67,65,72));
  z-index: 12;
}

.saveBtn>i {
  /* color: rgb(74, 126, 223); */
  /* color: rgb(126, 126, 126); */
  font-size: 20px;
}

.spinnerContainer {
  position: absolute;
  width: 30vw;
  height: 30vw;
  display: grid;
  place-items: center;
  border: 1px solid transparent;
  opacity: 0.7;
}

.circleSegments {
  position: absolute;
  display: grid;
  place-items: center;
  width: 28vw;
  height: 28vw;
  /* border: 3px dashed black; */
  background: url('/assets/blackSpinner.svg');
  background-size: cover;

  border: 1px solid transparent;
  border-radius: 100%;
  animation: rotateReverse 1s linear infinite;
  transform: rotate(0deg);


  /* border- */
}

.spinner {
  width: 25vw;
  height: 25vw;
  position: absolute;
  background: url('/assets/whiteSpinner.svg');
  background-size: cover;
  animation: rotateMe 1s linear infinite reverse;
  transform: rotate(0deg);
}

@keyframes rotateMe {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  100% {
    transform: rotate(360deg);
  }
}

.spinnerIcon {
  /* width: fit-content; */
  /* height: auto; */
  font-size: 14vw;
  color: rgb(25, 25, 25);
  /* background-color: rgba(240, 248, 255, 0.9); */
  border-radius: 100%;
}

.spinnerIcon>i {
  border-radius: 100%;
  background-color: rgba(240, 248, 255, 0.9);
  filter: drop-shadow(1vw 1vw 1vw #232323);
}

.directionBtn {
  background: rgba(240, 248, 255, 0.0);
  opacity: 1.0;
  border: 1px solid transparent;
  z-index: 10;
}

/* .directionBtn:hover {
  opacity: 0.5;
  background: rgba(240, 248, 255, 1.0);
  z-index: 10;
} */

.directionBtn>i {
  font-size: 60px;
  color: black;
  opacity: 0.5;
}

.leftDirection {
  /* Solo per test */
  /* color: rgb(15, 15, 15, 0.0); */
  /* Solo per test */
  display: none;
  opacity: 0.0;


}

.rightDirection {
  /* Solo per test */
  color: rgb(15, 15, 15, 0.0);
  /* Solo per test */

}

#buttonsContainer {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 12vw;
  position: fixed;
  bottom: 14px;
  z-index: 3;
}

#buttonsContainer>button {
  display: grid;
  place-items: center;
  width: fit-content;
  height: fit-content;
  background: transparent;
  padding: 0% 2% 0% 2%;
  border: 1px solid transparent;
  z-index: 4;
}

#buttonsContainer>button>i {
  font-size: 8px;
  width: fit-content;
  height: fit-content;
  background: transparent;
  /* btnsContainer.children[i].style.color = "rgb(126, 126, 126)"; */
  /* color: "rgb(126, 126, 126)"; */
  border: 0.6vw solid white;
  border-radius: 50%;
  /* background: rgb(50, 50, 50, 0.7); */
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */


  /* box-shadow: 3px 3px 3px rgb(15, 15, 15); */
  filter: drop-shadow(1vw 1vw 2.5vw rgb(67,65,72));

  /* text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white; */
}

.menuBtn {
  display: grid;
  width: 12vw;
  height: 12vw;
  place-items: center;
  position: fixed;
  bottom: 14px;
  right: 14px;
  background: radial-gradient(circle at 140% 22%, white 82%, #a8a8a8 100%);
  padding: 0;
  border-radius: 2.5vw;
  /* border: 1px solid transparent; */
  border: 2px solid rgba(150,150,150, 1.0);
  /* filter: drop-shadow(1vw 1vw 1vw #232323); */
  
  filter: drop-shadow(1vw 1vw 2.5vw rgb(67,65,72));
  z-index: 12;
}

.menuBtn>i {
  font-size: 20px;
  color: rgb(111,111,111);
}

.menuContainer {
  display: grid;
  place-items: end;
  width: 70vw;
  height: fit-content;
  max-height: 68vh;
  position: absolute;
  right: 0px;
  background: rgb(50, 50, 50, 0.95);
  border: 2px solid white;
  border-radius: 18px;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.8s ease-in-out;
}

.menuHeader {
  color: #D4D4D4;
  font-size: 23px;
  padding: 0px 20px 0px 20px;
}

.menuList {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: fit-content;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5vw;
  margin-right: 0vw;
  border: 1px solid transparent;
}

.menuList>li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 62vw;
  border: 1px solid transparent;
  /* border: 1px solid transparent; */
  margin: 6px 0px 6px 0px;
}

.menuList>li>.cityButton {
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  background: transparent;
  padding-left: 0px;
  padding-right: 2px;
  border: 1px solid transparent;
}

.menuList>li>.cityButton:hover {
  width: fit-content;
  color: rgb(50, 50, 50, 0.95);
  background: white;
  /* border: 2px solid rgb(50, 50, 50, 0.95); */
  border-radius: 1vw;
}

.menuList>li>.deleteButton {
  display: grid;
  place-items: center;
  color: #E53935;
  font-size: 20px;
  background-color: transparent;
  /* border: 1px solid transparent; */
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid transparent;
}

.downDirection {
  color: white;
  background: rgb(83,83,83, 0.6);
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 0px 0px 18px 18px;
}

.downDirection>i {
  color: white;
  font-size: 42px;
}

.lastMargin {
  margin-bottom: 40%;
}

@media only screen and (min-width: 481px) and (max-width: 899px) and (min-height: 481px) {
  #inputContainer {
    width: 70vw;
    height: 6.5vh;
  }

  #insertInput {
    font-size: 20px;
  }

  .tempIndication {
    font-size: 3vw;
  }

  .indications {
    width: fit-content;
    max-width: 50vw;
    font-size: 3vw;
  }

  .descriptionBox {
    width: 90vw;
    font-size: 20px;
  }

  .descriptionBox>p{
    font-size: 3vw;
  }

  table {
    width: 75vw;
    font-size: 2vh;
  }

  .alternatesContainer {
    width: 60vw;
    height: 40vh;
    font-size: 20px;
    border-radius: 18px;
  }

  .alternatesContainer>legend {
    text-align: center;
  }

  .altButtons {
    min-width: 20vw;
    font-size: 18px;
  }

  .lastMargin {
    margin-bottom: 50%;
  }

  .menuContainer {
    width: 45vw;
  }

  .menuList {
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .menuList>li {
    width: 40vw;
  }




  .saveBtn>i {
    font-size: 26px;
  }

  .menuBtn>i {
    font-size: 26px;
  }
}

@media only screen and (min-width: 900px) {
  #inputContainer {
    width: 50vw;
    max-width: 600px;
    height: 5vw;
  }

  #inputContainer>i {
    font-size: 2vw;
  }

  #insertInput {
    width: 40vw;
    font-size: 1.4vw;
  }

  #resultsContainer {
    height: 80vh;
    top: 5%;
  }

  h2 {
    width: fit-content;
    font-size: 1.4vw;
    padding: 2.5vw 4vw 2.5vw 4vw;
    border-radius: 2vw;
    border-left: 0.5vw solid rgb(218, 215, 215);
    border-top: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0.5vw solid rgb(218, 215, 215);
  }

  table {
    min-width: 500px;
    width: 35vw;
    font-size: 1vw;
    line-height: 1.3vw;
    letter-spacing: 0.5vw;
    border-left: 0.5vw solid rgb(218, 215, 215);
    border-top: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0.5vw solid rgb(218, 215, 215);
  }

  #imgContainer {
    width: 100vw;
    /* max-width: 1000px; */
    height: 100vh;
  }

  #secondImgContainer {
    width: 100vw;
    /* max-width: 1000px; */
    height: 100vh;
  }

  .descriptionBox {
    width: 50vw;
  }

  .descriptionBox>p {
    font-size: 1vw;
    padding: 2vw 1.5vw 2vw 1.5vw;
    border-left: 0.5vw solid rgb(218, 215, 215);
    border-top: 0vw solid transparent;
    border-right: 0vw solid transparent;
    border-bottom: 0.5vw solid rgb(218, 215, 215);
    border-radius: 2vw;
  }

  /* .backgroundImage {
    width: 300vw;
  } */

  .alternatesContainer {
    width: 40vw;
    height: 40vh;
    border-radius: 18px;
  }

  .alternatesContainer>legend {
    /* margin-left: 8vw;
    margin-right: 8vw; */
    text-align: center;
  }

  .altButtons {
    min-width: 15vw;
  }

  .tempIndication {
    max-width: 30vw;
    border-radius: 2vw;
  }

  .indications {
    width: fit-content;
    max-width: 30vw;
    top: 13%;
    color: white;
    padding: 2vw 1vw;
    border: 5px solid rgba(155, 9, 9, 0.7);
    border-radius: 2vw;
    background: rgb(50, 50, 50, 0.7);
    text-shadow: 3px 2px 3px rgb(15, 15, 15);
  }

  .saveBtn {
    display: none;
    width: 7vw;
    height: 7vw;
    border-radius: 2vw;
    border: 1px solid transparent;
    bottom: 3vh;
    left: 3vh;
    filter: drop-shadow(1vw 1vw 1vw #232323);
  }

  .saveBtn>i {
    /* color: rgb(74, 126, 223); */
    /* color: rgb(126, 126, 126); */
    font-size: 2.5vw;
  }

  .circleSegments {
    width: 16vw;
    height: 16vw;
  }

  .spinner {
    width: 12vw;
    height: 12vw;
  }

  .spinnerIcon {
    font-size: 8vw;
  }

  .directionBtn {
    background: rgba(240, 248, 255, 0.0);
    opacity: 1.0;
    border: 1px solid transparent;
    z-index: 10;
  }

  .directionBtn:hover {
    opacity: 0.7;
    background: rgba(240, 248, 255, 1.0)
  }

  .directionBtn>i {
    font-size: 60px;
    color: rgb(15, 15, 15, 1.0);
    opacity: 0.5;
  }

  .menuBtn {
    display: block;
    width: 7vw;
    height: 7vw;
    border-radius: 2vw;
    border: 1px solid transparent;
    bottom: 3vh;
    right: 3vh;
    filter: drop-shadow(1vw 1vw 1vw #232323);
  }

  .menuBtn>i {
    font-size: 2.5vw;
  }

  .menuContainer {
    width: 32vw;
    height: fit-content;
    max-height: 70vh;
    position: absolute;
    right: 0px;
    background: rgb(50, 50, 50, 0.95);
    border: 2px solid white;
    border-radius: 18px;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.8s ease-in-out;
  }

  .menuHeader {
    color: #D4D4D4;
    font-size: 2.2vw;
    padding: 0px 20px 0px 20px;
  }

  .menuList {
    width: fit-content;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .menuList>li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30vw;
    border: 1px solid transparent;
    margin: 6px 0px 6px 0px;
  }

  .menuList>li>.cityButton {
    width: 100%;
    color: white;
    text-align: right;
    font-size: 1.8vw;
    background: transparent;
    border: 1px solid transparent;
  }

  .menuList>li>.deleteButton {
    display: grid;
    place-items: center;
    color: #E53935;
    font-size: 2vw;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 0.2vw;
  }

  .downDirection {
    color: white;
    background: rgb(55, 55, 55, 0.6);
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 0px 0px 18px 18px;
  }

  .downDirection>i {
    color: white;
    font-size: 50px;
  }

  .lastMargin {
    margin-bottom: 25%;
  }


}